.header {
  position: relative;

  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    z-index: 10;

    display: block;

    width: 100%;
    height: 1px;
    background-color: $underHeaderLine;
  }
}

.header__container {
  @extend %flexVerticalCentring;
}

.header__site-nav {
  margin-left: 93px;
}

.header__link {
  padding: 32px 0;
}

.header__contacts {
  margin-left: auto;
}
