// Colors

$accentColor: #2196f3;

$primaryTextColor: #757575;
$secondaryTextColor: #ffffff;
$altTextColor: #000000;
$titleColor: #212121;

$primaryBgColor: #ffffff;
$secondaryBgColor: #f5f4fa;
$altBgColor: #2f303a;

$underHeaderLine: #ececec;

// Animations

$animationDuration: 1250ms;
$primaryBezier: cubic-bezier(0.4, 0, 0.2, 1);
